.flexBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.formContainer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  
    gap: 50px;
    background-color: var(--grey-3);
    padding: 3rem 1.375rem;
}

.container{
    padding: 1rem;
}