.btn {
    display: flex;
    width: 20.375rem;
    height: 3rem;
    padding: 0px 1.3959rem;
    justify-content: center;
    align-items: center;
    gap: 10.152px;
    margin-top: 15px;

    border-radius: 4px;
    border: 0.0761rem solid var(--color-primary-disable, #59323F);
    background: var(--color-primary-disable, #59323F);
}